.profile__info {
  max-width: 336px;
  margin: 21px 0 21px 30px;
  display: grid;
  grid-template-columns: 1fr 24px;
}

@media screen and (max-width: 767px) {
  .profile__info {
   margin-top: 26px;
   margin-bottom: 34px;  }
}
