.place-form__item {
  width: 358px;
  padding: 0 0 10px;
  margin: 0 0 27px;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid RGBA(0,0,0,.2);
}

.place-form__item::placeholder {
  max-width: 238px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
