.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background: url(../../../images/add-profile.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto 0;
  position: absolute;
  right: 0;
  align-self: center;
  padding: 0;
  transition: opacity 1s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    position: static;
    background: url(../../../images/add-profile-small.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
