.image-popup__heading {
  max-width: 291px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin: 10px 0 0;
}

@media screen and (max-width: 767px) {
  .image-popup__heading {
    max-width: 240px;
  }
}
